html {
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #333;
	color: #6495ed;
	cursor: default;
	font-family: 'Roboto Mono', monospace;
	margin: 0;
}

.container {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.clock {
	position: relative;
}

@media (orientation: portrait) {
	.clock {
		width: 90vw;
		height: 90vw;
	}
}

@media (orientation: landscape) {
	.clock {
		width: 90vh;
		height: 90vh;
	}
}

.clock > .pips {
	height: 100%;
}

.clock > .pips > .minutes,
.clock > .pips > .seconds {
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
}

.clock > .pips > .minutes {
	margin: 4%;
}

.clock > .digital {
	display: flex;
	flex-direction: column;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
}

.clock > .digital > .chunk {
	align-items: center;
	display: flex;
	flex: 1 1 0;
	justify-content: center;
}

.clock > .digital > .chunk.shrink {
	flex: 0 0 auto;
}

.clock > .digital > .chunk.top {
	align-items: start;
}

.clock > .digital .time {
	display: flex;
	font-size: 20vh;
}

.clock > .digital .time .hours::after {
	content: ":";
}

.clock > .digital .seconds {
	font-size: 15vh;
}

@media (orientation: portrait) {
	.clock > .digital .time {
		font-size: 20vw;
	}

	.clock > .digital .seconds {
		font-size: 15vw;
	}
}

.pos {
	height: 50%;
	position: absolute;
		top: 0;
		right: 50%;
		bottom: 50%;
		left: 50%;
	transform-origin: bottom;
	width: 0;
}

.ticking {
	color: #262626;
}

.pip {
	background-color: currentColor;
	border-radius: 100%;
	box-shadow: 0 0 0 0.25vh #262626;
	margin-left: -1vh;
	width: 2vh;
}

@media (orientation: portrait) {
	.pip {
		margin-left: -1vw;
		width: 2vw;
	}
}

.pip::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.open-about {
	background-color: #333;
	border: 3px solid #262626;
	border-radius: 100%;
	cursor: pointer;
	font-size: 20px;
	height: 24px;
	line-height: 24px;
	position: absolute;
		right: 10px;
		bottom: 10px;
	text-align: center;
	width: 24px;
}

.about {
	align-items: center;
	background-color: #333;
	border: 3px solid #262626;
	border-radius: 10px;
	color: #dcddde;
	display: none;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	max-width: 420px;
	margin-left: 10px;
	opacity: 0;
	position: absolute;
		right: 10px;
		bottom: 10px;
	z-index: 3;
	transition: opacity 0.2s;
}

.about.open {
	display: flex;
}

.about p {
	margin: 10px;
	line-height: 1.21;
}

.about .byline {
	text-align: center;
}

.about .byline strong {
	font-weight: 500;
}

.about > .shields {
	display: flex;
	flex-direction: column;
}

.about > .shields > a {
	margin: 10px 10px 0;
}

.about > .shields > a:first-child {
	margin-top: 0;
}

.about > .shields img {
	display: block;
}

.pos-1 { transform: rotate(6deg) }
.pos-2 { transform: rotate(12deg) }
.pos-3 { transform: rotate(18deg) }
.pos-4 { transform: rotate(24deg) }
.pos-5 { transform: rotate(30deg) }
.pos-6 { transform: rotate(36deg) }
.pos-7 { transform: rotate(42deg) }
.pos-8 { transform: rotate(48deg) }
.pos-9 { transform: rotate(54deg) }
.pos-10 { transform: rotate(60deg) }
.pos-11 { transform: rotate(66deg) }
.pos-12 { transform: rotate(72deg) }
.pos-13 { transform: rotate(78deg) }
.pos-14 { transform: rotate(84deg) }
.pos-15 { transform: rotate(90deg) }
.pos-16 { transform: rotate(96deg) }
.pos-17 { transform: rotate(102deg) }
.pos-18 { transform: rotate(108deg) }
.pos-19 { transform: rotate(114deg) }
.pos-20 { transform: rotate(120deg) }
.pos-21 { transform: rotate(126deg) }
.pos-22 { transform: rotate(132deg) }
.pos-23 { transform: rotate(138deg) }
.pos-24 { transform: rotate(144deg) }
.pos-25 { transform: rotate(150deg) }
.pos-26 { transform: rotate(156deg) }
.pos-27 { transform: rotate(162deg) }
.pos-28 { transform: rotate(168deg) }
.pos-29 { transform: rotate(174deg) }
.pos-30 { transform: rotate(180deg) }
.pos-31 { transform: rotate(186deg) }
.pos-32 { transform: rotate(192deg) }
.pos-33 { transform: rotate(198deg) }
.pos-34 { transform: rotate(204deg) }
.pos-35 { transform: rotate(210deg) }
.pos-36 { transform: rotate(216deg) }
.pos-37 { transform: rotate(222deg) }
.pos-38 { transform: rotate(228deg) }
.pos-39 { transform: rotate(234deg) }
.pos-40 { transform: rotate(240deg) }
.pos-41 { transform: rotate(246deg) }
.pos-42 { transform: rotate(252deg) }
.pos-43 { transform: rotate(258deg) }
.pos-44 { transform: rotate(264deg) }
.pos-45 { transform: rotate(270deg) }
.pos-46 { transform: rotate(276deg) }
.pos-47 { transform: rotate(282deg) }
.pos-48 { transform: rotate(288deg) }
.pos-49 { transform: rotate(294deg) }
.pos-50 { transform: rotate(300deg) }
.pos-51 { transform: rotate(306deg) }
.pos-52 { transform: rotate(312deg) }
.pos-53 { transform: rotate(318deg) }
.pos-54 { transform: rotate(324deg) }
.pos-55 { transform: rotate(330deg) }
.pos-56 { transform: rotate(336deg) }
.pos-57 { transform: rotate(342deg) }
.pos-58 { transform: rotate(348deg) }
.pos-59 { transform: rotate(354deg) }

.time-0 .ticking.pos-0,
.time-1 .ticking.pos-0,
.time-1 .ticking.pos-1,
.time-2 .ticking.pos-0,
.time-2 .ticking.pos-1,
.time-2 .ticking.pos-2,
.time-3 .ticking.pos-0,
.time-3 .ticking.pos-1,
.time-3 .ticking.pos-2,
.time-3 .ticking.pos-3,
.time-4 .ticking.pos-0,
.time-4 .ticking.pos-1,
.time-4 .ticking.pos-2,
.time-4 .ticking.pos-3,
.time-4 .ticking.pos-4,
.time-5 .ticking.pos-0,
.time-5 .ticking.pos-1,
.time-5 .ticking.pos-2,
.time-5 .ticking.pos-3,
.time-5 .ticking.pos-4,
.time-5 .ticking.pos-5,
.time-6 .ticking.pos-0,
.time-6 .ticking.pos-1,
.time-6 .ticking.pos-2,
.time-6 .ticking.pos-3,
.time-6 .ticking.pos-4,
.time-6 .ticking.pos-5,
.time-6 .ticking.pos-6,
.time-7 .ticking.pos-0,
.time-7 .ticking.pos-1,
.time-7 .ticking.pos-2,
.time-7 .ticking.pos-3,
.time-7 .ticking.pos-4,
.time-7 .ticking.pos-5,
.time-7 .ticking.pos-6,
.time-7 .ticking.pos-7,
.time-8 .ticking.pos-0,
.time-8 .ticking.pos-1,
.time-8 .ticking.pos-2,
.time-8 .ticking.pos-3,
.time-8 .ticking.pos-4,
.time-8 .ticking.pos-5,
.time-8 .ticking.pos-6,
.time-8 .ticking.pos-7,
.time-8 .ticking.pos-8,
.time-9 .ticking.pos-0,
.time-9 .ticking.pos-1,
.time-9 .ticking.pos-2,
.time-9 .ticking.pos-3,
.time-9 .ticking.pos-4,
.time-9 .ticking.pos-5,
.time-9 .ticking.pos-6,
.time-9 .ticking.pos-7,
.time-9 .ticking.pos-8,
.time-9 .ticking.pos-9,
.time-10 .ticking.pos-0,
.time-10 .ticking.pos-1,
.time-10 .ticking.pos-2,
.time-10 .ticking.pos-3,
.time-10 .ticking.pos-4,
.time-10 .ticking.pos-5,
.time-10 .ticking.pos-6,
.time-10 .ticking.pos-7,
.time-10 .ticking.pos-8,
.time-10 .ticking.pos-9,
.time-10 .ticking.pos-10,
.time-11 .ticking.pos-0,
.time-11 .ticking.pos-1,
.time-11 .ticking.pos-2,
.time-11 .ticking.pos-3,
.time-11 .ticking.pos-4,
.time-11 .ticking.pos-5,
.time-11 .ticking.pos-6,
.time-11 .ticking.pos-7,
.time-11 .ticking.pos-8,
.time-11 .ticking.pos-9,
.time-11 .ticking.pos-10,
.time-11 .ticking.pos-11,
.time-12 .ticking.pos-0,
.time-12 .ticking.pos-1,
.time-12 .ticking.pos-2,
.time-12 .ticking.pos-3,
.time-12 .ticking.pos-4,
.time-12 .ticking.pos-5,
.time-12 .ticking.pos-6,
.time-12 .ticking.pos-7,
.time-12 .ticking.pos-8,
.time-12 .ticking.pos-9,
.time-12 .ticking.pos-10,
.time-12 .ticking.pos-11,
.time-12 .ticking.pos-12,
.time-13 .ticking.pos-0,
.time-13 .ticking.pos-1,
.time-13 .ticking.pos-2,
.time-13 .ticking.pos-3,
.time-13 .ticking.pos-4,
.time-13 .ticking.pos-5,
.time-13 .ticking.pos-6,
.time-13 .ticking.pos-7,
.time-13 .ticking.pos-8,
.time-13 .ticking.pos-9,
.time-13 .ticking.pos-10,
.time-13 .ticking.pos-11,
.time-13 .ticking.pos-12,
.time-13 .ticking.pos-13,
.time-14 .ticking.pos-0,
.time-14 .ticking.pos-1,
.time-14 .ticking.pos-2,
.time-14 .ticking.pos-3,
.time-14 .ticking.pos-4,
.time-14 .ticking.pos-5,
.time-14 .ticking.pos-6,
.time-14 .ticking.pos-7,
.time-14 .ticking.pos-8,
.time-14 .ticking.pos-9,
.time-14 .ticking.pos-10,
.time-14 .ticking.pos-11,
.time-14 .ticking.pos-12,
.time-14 .ticking.pos-13,
.time-14 .ticking.pos-14,
.time-15 .ticking.pos-0,
.time-15 .ticking.pos-1,
.time-15 .ticking.pos-2,
.time-15 .ticking.pos-3,
.time-15 .ticking.pos-4,
.time-15 .ticking.pos-5,
.time-15 .ticking.pos-6,
.time-15 .ticking.pos-7,
.time-15 .ticking.pos-8,
.time-15 .ticking.pos-9,
.time-15 .ticking.pos-10,
.time-15 .ticking.pos-11,
.time-15 .ticking.pos-12,
.time-15 .ticking.pos-13,
.time-15 .ticking.pos-14,
.time-15 .ticking.pos-15,
.time-16 .ticking.pos-0,
.time-16 .ticking.pos-1,
.time-16 .ticking.pos-2,
.time-16 .ticking.pos-3,
.time-16 .ticking.pos-4,
.time-16 .ticking.pos-5,
.time-16 .ticking.pos-6,
.time-16 .ticking.pos-7,
.time-16 .ticking.pos-8,
.time-16 .ticking.pos-9,
.time-16 .ticking.pos-10,
.time-16 .ticking.pos-11,
.time-16 .ticking.pos-12,
.time-16 .ticking.pos-13,
.time-16 .ticking.pos-14,
.time-16 .ticking.pos-15,
.time-16 .ticking.pos-16,
.time-17 .ticking.pos-0,
.time-17 .ticking.pos-1,
.time-17 .ticking.pos-2,
.time-17 .ticking.pos-3,
.time-17 .ticking.pos-4,
.time-17 .ticking.pos-5,
.time-17 .ticking.pos-6,
.time-17 .ticking.pos-7,
.time-17 .ticking.pos-8,
.time-17 .ticking.pos-9,
.time-17 .ticking.pos-10,
.time-17 .ticking.pos-11,
.time-17 .ticking.pos-12,
.time-17 .ticking.pos-13,
.time-17 .ticking.pos-14,
.time-17 .ticking.pos-15,
.time-17 .ticking.pos-16,
.time-17 .ticking.pos-17,
.time-18 .ticking.pos-0,
.time-18 .ticking.pos-1,
.time-18 .ticking.pos-2,
.time-18 .ticking.pos-3,
.time-18 .ticking.pos-4,
.time-18 .ticking.pos-5,
.time-18 .ticking.pos-6,
.time-18 .ticking.pos-7,
.time-18 .ticking.pos-8,
.time-18 .ticking.pos-9,
.time-18 .ticking.pos-10,
.time-18 .ticking.pos-11,
.time-18 .ticking.pos-12,
.time-18 .ticking.pos-13,
.time-18 .ticking.pos-14,
.time-18 .ticking.pos-15,
.time-18 .ticking.pos-16,
.time-18 .ticking.pos-17,
.time-18 .ticking.pos-18,
.time-19 .ticking.pos-0,
.time-19 .ticking.pos-1,
.time-19 .ticking.pos-2,
.time-19 .ticking.pos-3,
.time-19 .ticking.pos-4,
.time-19 .ticking.pos-5,
.time-19 .ticking.pos-6,
.time-19 .ticking.pos-7,
.time-19 .ticking.pos-8,
.time-19 .ticking.pos-9,
.time-19 .ticking.pos-10,
.time-19 .ticking.pos-11,
.time-19 .ticking.pos-12,
.time-19 .ticking.pos-13,
.time-19 .ticking.pos-14,
.time-19 .ticking.pos-15,
.time-19 .ticking.pos-16,
.time-19 .ticking.pos-17,
.time-19 .ticking.pos-18,
.time-19 .ticking.pos-19,
.time-20 .ticking.pos-0,
.time-20 .ticking.pos-1,
.time-20 .ticking.pos-2,
.time-20 .ticking.pos-3,
.time-20 .ticking.pos-4,
.time-20 .ticking.pos-5,
.time-20 .ticking.pos-6,
.time-20 .ticking.pos-7,
.time-20 .ticking.pos-8,
.time-20 .ticking.pos-9,
.time-20 .ticking.pos-10,
.time-20 .ticking.pos-11,
.time-20 .ticking.pos-12,
.time-20 .ticking.pos-13,
.time-20 .ticking.pos-14,
.time-20 .ticking.pos-15,
.time-20 .ticking.pos-16,
.time-20 .ticking.pos-17,
.time-20 .ticking.pos-18,
.time-20 .ticking.pos-19,
.time-20 .ticking.pos-20,
.time-21 .ticking.pos-0,
.time-21 .ticking.pos-1,
.time-21 .ticking.pos-2,
.time-21 .ticking.pos-3,
.time-21 .ticking.pos-4,
.time-21 .ticking.pos-5,
.time-21 .ticking.pos-6,
.time-21 .ticking.pos-7,
.time-21 .ticking.pos-8,
.time-21 .ticking.pos-9,
.time-21 .ticking.pos-10,
.time-21 .ticking.pos-11,
.time-21 .ticking.pos-12,
.time-21 .ticking.pos-13,
.time-21 .ticking.pos-14,
.time-21 .ticking.pos-15,
.time-21 .ticking.pos-16,
.time-21 .ticking.pos-17,
.time-21 .ticking.pos-18,
.time-21 .ticking.pos-19,
.time-21 .ticking.pos-20,
.time-21 .ticking.pos-21,
.time-22 .ticking.pos-0,
.time-22 .ticking.pos-1,
.time-22 .ticking.pos-2,
.time-22 .ticking.pos-3,
.time-22 .ticking.pos-4,
.time-22 .ticking.pos-5,
.time-22 .ticking.pos-6,
.time-22 .ticking.pos-7,
.time-22 .ticking.pos-8,
.time-22 .ticking.pos-9,
.time-22 .ticking.pos-10,
.time-22 .ticking.pos-11,
.time-22 .ticking.pos-12,
.time-22 .ticking.pos-13,
.time-22 .ticking.pos-14,
.time-22 .ticking.pos-15,
.time-22 .ticking.pos-16,
.time-22 .ticking.pos-17,
.time-22 .ticking.pos-18,
.time-22 .ticking.pos-19,
.time-22 .ticking.pos-20,
.time-22 .ticking.pos-21,
.time-22 .ticking.pos-22,
.time-23 .ticking.pos-0,
.time-23 .ticking.pos-1,
.time-23 .ticking.pos-2,
.time-23 .ticking.pos-3,
.time-23 .ticking.pos-4,
.time-23 .ticking.pos-5,
.time-23 .ticking.pos-6,
.time-23 .ticking.pos-7,
.time-23 .ticking.pos-8,
.time-23 .ticking.pos-9,
.time-23 .ticking.pos-10,
.time-23 .ticking.pos-11,
.time-23 .ticking.pos-12,
.time-23 .ticking.pos-13,
.time-23 .ticking.pos-14,
.time-23 .ticking.pos-15,
.time-23 .ticking.pos-16,
.time-23 .ticking.pos-17,
.time-23 .ticking.pos-18,
.time-23 .ticking.pos-19,
.time-23 .ticking.pos-20,
.time-23 .ticking.pos-21,
.time-23 .ticking.pos-22,
.time-23 .ticking.pos-23,
.time-24 .ticking.pos-0,
.time-24 .ticking.pos-1,
.time-24 .ticking.pos-2,
.time-24 .ticking.pos-3,
.time-24 .ticking.pos-4,
.time-24 .ticking.pos-5,
.time-24 .ticking.pos-6,
.time-24 .ticking.pos-7,
.time-24 .ticking.pos-8,
.time-24 .ticking.pos-9,
.time-24 .ticking.pos-10,
.time-24 .ticking.pos-11,
.time-24 .ticking.pos-12,
.time-24 .ticking.pos-13,
.time-24 .ticking.pos-14,
.time-24 .ticking.pos-15,
.time-24 .ticking.pos-16,
.time-24 .ticking.pos-17,
.time-24 .ticking.pos-18,
.time-24 .ticking.pos-19,
.time-24 .ticking.pos-20,
.time-24 .ticking.pos-21,
.time-24 .ticking.pos-22,
.time-24 .ticking.pos-23,
.time-24 .ticking.pos-24,
.time-25 .ticking.pos-0,
.time-25 .ticking.pos-1,
.time-25 .ticking.pos-2,
.time-25 .ticking.pos-3,
.time-25 .ticking.pos-4,
.time-25 .ticking.pos-5,
.time-25 .ticking.pos-6,
.time-25 .ticking.pos-7,
.time-25 .ticking.pos-8,
.time-25 .ticking.pos-9,
.time-25 .ticking.pos-10,
.time-25 .ticking.pos-11,
.time-25 .ticking.pos-12,
.time-25 .ticking.pos-13,
.time-25 .ticking.pos-14,
.time-25 .ticking.pos-15,
.time-25 .ticking.pos-16,
.time-25 .ticking.pos-17,
.time-25 .ticking.pos-18,
.time-25 .ticking.pos-19,
.time-25 .ticking.pos-20,
.time-25 .ticking.pos-21,
.time-25 .ticking.pos-22,
.time-25 .ticking.pos-23,
.time-25 .ticking.pos-24,
.time-25 .ticking.pos-25,
.time-26 .ticking.pos-0,
.time-26 .ticking.pos-1,
.time-26 .ticking.pos-2,
.time-26 .ticking.pos-3,
.time-26 .ticking.pos-4,
.time-26 .ticking.pos-5,
.time-26 .ticking.pos-6,
.time-26 .ticking.pos-7,
.time-26 .ticking.pos-8,
.time-26 .ticking.pos-9,
.time-26 .ticking.pos-10,
.time-26 .ticking.pos-11,
.time-26 .ticking.pos-12,
.time-26 .ticking.pos-13,
.time-26 .ticking.pos-14,
.time-26 .ticking.pos-15,
.time-26 .ticking.pos-16,
.time-26 .ticking.pos-17,
.time-26 .ticking.pos-18,
.time-26 .ticking.pos-19,
.time-26 .ticking.pos-20,
.time-26 .ticking.pos-21,
.time-26 .ticking.pos-22,
.time-26 .ticking.pos-23,
.time-26 .ticking.pos-24,
.time-26 .ticking.pos-25,
.time-26 .ticking.pos-26,
.time-27 .ticking.pos-0,
.time-27 .ticking.pos-1,
.time-27 .ticking.pos-2,
.time-27 .ticking.pos-3,
.time-27 .ticking.pos-4,
.time-27 .ticking.pos-5,
.time-27 .ticking.pos-6,
.time-27 .ticking.pos-7,
.time-27 .ticking.pos-8,
.time-27 .ticking.pos-9,
.time-27 .ticking.pos-10,
.time-27 .ticking.pos-11,
.time-27 .ticking.pos-12,
.time-27 .ticking.pos-13,
.time-27 .ticking.pos-14,
.time-27 .ticking.pos-15,
.time-27 .ticking.pos-16,
.time-27 .ticking.pos-17,
.time-27 .ticking.pos-18,
.time-27 .ticking.pos-19,
.time-27 .ticking.pos-20,
.time-27 .ticking.pos-21,
.time-27 .ticking.pos-22,
.time-27 .ticking.pos-23,
.time-27 .ticking.pos-24,
.time-27 .ticking.pos-25,
.time-27 .ticking.pos-26,
.time-27 .ticking.pos-27,
.time-28 .ticking.pos-0,
.time-28 .ticking.pos-1,
.time-28 .ticking.pos-2,
.time-28 .ticking.pos-3,
.time-28 .ticking.pos-4,
.time-28 .ticking.pos-5,
.time-28 .ticking.pos-6,
.time-28 .ticking.pos-7,
.time-28 .ticking.pos-8,
.time-28 .ticking.pos-9,
.time-28 .ticking.pos-10,
.time-28 .ticking.pos-11,
.time-28 .ticking.pos-12,
.time-28 .ticking.pos-13,
.time-28 .ticking.pos-14,
.time-28 .ticking.pos-15,
.time-28 .ticking.pos-16,
.time-28 .ticking.pos-17,
.time-28 .ticking.pos-18,
.time-28 .ticking.pos-19,
.time-28 .ticking.pos-20,
.time-28 .ticking.pos-21,
.time-28 .ticking.pos-22,
.time-28 .ticking.pos-23,
.time-28 .ticking.pos-24,
.time-28 .ticking.pos-25,
.time-28 .ticking.pos-26,
.time-28 .ticking.pos-27,
.time-28 .ticking.pos-28,
.time-29 .ticking.pos-0,
.time-29 .ticking.pos-1,
.time-29 .ticking.pos-2,
.time-29 .ticking.pos-3,
.time-29 .ticking.pos-4,
.time-29 .ticking.pos-5,
.time-29 .ticking.pos-6,
.time-29 .ticking.pos-7,
.time-29 .ticking.pos-8,
.time-29 .ticking.pos-9,
.time-29 .ticking.pos-10,
.time-29 .ticking.pos-11,
.time-29 .ticking.pos-12,
.time-29 .ticking.pos-13,
.time-29 .ticking.pos-14,
.time-29 .ticking.pos-15,
.time-29 .ticking.pos-16,
.time-29 .ticking.pos-17,
.time-29 .ticking.pos-18,
.time-29 .ticking.pos-19,
.time-29 .ticking.pos-20,
.time-29 .ticking.pos-21,
.time-29 .ticking.pos-22,
.time-29 .ticking.pos-23,
.time-29 .ticking.pos-24,
.time-29 .ticking.pos-25,
.time-29 .ticking.pos-26,
.time-29 .ticking.pos-27,
.time-29 .ticking.pos-28,
.time-29 .ticking.pos-29,
.time-30 .ticking.pos-0,
.time-30 .ticking.pos-1,
.time-30 .ticking.pos-2,
.time-30 .ticking.pos-3,
.time-30 .ticking.pos-4,
.time-30 .ticking.pos-5,
.time-30 .ticking.pos-6,
.time-30 .ticking.pos-7,
.time-30 .ticking.pos-8,
.time-30 .ticking.pos-9,
.time-30 .ticking.pos-10,
.time-30 .ticking.pos-11,
.time-30 .ticking.pos-12,
.time-30 .ticking.pos-13,
.time-30 .ticking.pos-14,
.time-30 .ticking.pos-15,
.time-30 .ticking.pos-16,
.time-30 .ticking.pos-17,
.time-30 .ticking.pos-18,
.time-30 .ticking.pos-19,
.time-30 .ticking.pos-20,
.time-30 .ticking.pos-21,
.time-30 .ticking.pos-22,
.time-30 .ticking.pos-23,
.time-30 .ticking.pos-24,
.time-30 .ticking.pos-25,
.time-30 .ticking.pos-26,
.time-30 .ticking.pos-27,
.time-30 .ticking.pos-28,
.time-30 .ticking.pos-29,
.time-30 .ticking.pos-30,
.time-31 .ticking.pos-0,
.time-31 .ticking.pos-1,
.time-31 .ticking.pos-2,
.time-31 .ticking.pos-3,
.time-31 .ticking.pos-4,
.time-31 .ticking.pos-5,
.time-31 .ticking.pos-6,
.time-31 .ticking.pos-7,
.time-31 .ticking.pos-8,
.time-31 .ticking.pos-9,
.time-31 .ticking.pos-10,
.time-31 .ticking.pos-11,
.time-31 .ticking.pos-12,
.time-31 .ticking.pos-13,
.time-31 .ticking.pos-14,
.time-31 .ticking.pos-15,
.time-31 .ticking.pos-16,
.time-31 .ticking.pos-17,
.time-31 .ticking.pos-18,
.time-31 .ticking.pos-19,
.time-31 .ticking.pos-20,
.time-31 .ticking.pos-21,
.time-31 .ticking.pos-22,
.time-31 .ticking.pos-23,
.time-31 .ticking.pos-24,
.time-31 .ticking.pos-25,
.time-31 .ticking.pos-26,
.time-31 .ticking.pos-27,
.time-31 .ticking.pos-28,
.time-31 .ticking.pos-29,
.time-31 .ticking.pos-30,
.time-31 .ticking.pos-31,
.time-32 .ticking.pos-0,
.time-32 .ticking.pos-1,
.time-32 .ticking.pos-2,
.time-32 .ticking.pos-3,
.time-32 .ticking.pos-4,
.time-32 .ticking.pos-5,
.time-32 .ticking.pos-6,
.time-32 .ticking.pos-7,
.time-32 .ticking.pos-8,
.time-32 .ticking.pos-9,
.time-32 .ticking.pos-10,
.time-32 .ticking.pos-11,
.time-32 .ticking.pos-12,
.time-32 .ticking.pos-13,
.time-32 .ticking.pos-14,
.time-32 .ticking.pos-15,
.time-32 .ticking.pos-16,
.time-32 .ticking.pos-17,
.time-32 .ticking.pos-18,
.time-32 .ticking.pos-19,
.time-32 .ticking.pos-20,
.time-32 .ticking.pos-21,
.time-32 .ticking.pos-22,
.time-32 .ticking.pos-23,
.time-32 .ticking.pos-24,
.time-32 .ticking.pos-25,
.time-32 .ticking.pos-26,
.time-32 .ticking.pos-27,
.time-32 .ticking.pos-28,
.time-32 .ticking.pos-29,
.time-32 .ticking.pos-30,
.time-32 .ticking.pos-31,
.time-32 .ticking.pos-32,
.time-33 .ticking.pos-0,
.time-33 .ticking.pos-1,
.time-33 .ticking.pos-2,
.time-33 .ticking.pos-3,
.time-33 .ticking.pos-4,
.time-33 .ticking.pos-5,
.time-33 .ticking.pos-6,
.time-33 .ticking.pos-7,
.time-33 .ticking.pos-8,
.time-33 .ticking.pos-9,
.time-33 .ticking.pos-10,
.time-33 .ticking.pos-11,
.time-33 .ticking.pos-12,
.time-33 .ticking.pos-13,
.time-33 .ticking.pos-14,
.time-33 .ticking.pos-15,
.time-33 .ticking.pos-16,
.time-33 .ticking.pos-17,
.time-33 .ticking.pos-18,
.time-33 .ticking.pos-19,
.time-33 .ticking.pos-20,
.time-33 .ticking.pos-21,
.time-33 .ticking.pos-22,
.time-33 .ticking.pos-23,
.time-33 .ticking.pos-24,
.time-33 .ticking.pos-25,
.time-33 .ticking.pos-26,
.time-33 .ticking.pos-27,
.time-33 .ticking.pos-28,
.time-33 .ticking.pos-29,
.time-33 .ticking.pos-30,
.time-33 .ticking.pos-31,
.time-33 .ticking.pos-32,
.time-33 .ticking.pos-33,
.time-34 .ticking.pos-0,
.time-34 .ticking.pos-1,
.time-34 .ticking.pos-2,
.time-34 .ticking.pos-3,
.time-34 .ticking.pos-4,
.time-34 .ticking.pos-5,
.time-34 .ticking.pos-6,
.time-34 .ticking.pos-7,
.time-34 .ticking.pos-8,
.time-34 .ticking.pos-9,
.time-34 .ticking.pos-10,
.time-34 .ticking.pos-11,
.time-34 .ticking.pos-12,
.time-34 .ticking.pos-13,
.time-34 .ticking.pos-14,
.time-34 .ticking.pos-15,
.time-34 .ticking.pos-16,
.time-34 .ticking.pos-17,
.time-34 .ticking.pos-18,
.time-34 .ticking.pos-19,
.time-34 .ticking.pos-20,
.time-34 .ticking.pos-21,
.time-34 .ticking.pos-22,
.time-34 .ticking.pos-23,
.time-34 .ticking.pos-24,
.time-34 .ticking.pos-25,
.time-34 .ticking.pos-26,
.time-34 .ticking.pos-27,
.time-34 .ticking.pos-28,
.time-34 .ticking.pos-29,
.time-34 .ticking.pos-30,
.time-34 .ticking.pos-31,
.time-34 .ticking.pos-32,
.time-34 .ticking.pos-33,
.time-34 .ticking.pos-34,
.time-35 .ticking.pos-0,
.time-35 .ticking.pos-1,
.time-35 .ticking.pos-2,
.time-35 .ticking.pos-3,
.time-35 .ticking.pos-4,
.time-35 .ticking.pos-5,
.time-35 .ticking.pos-6,
.time-35 .ticking.pos-7,
.time-35 .ticking.pos-8,
.time-35 .ticking.pos-9,
.time-35 .ticking.pos-10,
.time-35 .ticking.pos-11,
.time-35 .ticking.pos-12,
.time-35 .ticking.pos-13,
.time-35 .ticking.pos-14,
.time-35 .ticking.pos-15,
.time-35 .ticking.pos-16,
.time-35 .ticking.pos-17,
.time-35 .ticking.pos-18,
.time-35 .ticking.pos-19,
.time-35 .ticking.pos-20,
.time-35 .ticking.pos-21,
.time-35 .ticking.pos-22,
.time-35 .ticking.pos-23,
.time-35 .ticking.pos-24,
.time-35 .ticking.pos-25,
.time-35 .ticking.pos-26,
.time-35 .ticking.pos-27,
.time-35 .ticking.pos-28,
.time-35 .ticking.pos-29,
.time-35 .ticking.pos-30,
.time-35 .ticking.pos-31,
.time-35 .ticking.pos-32,
.time-35 .ticking.pos-33,
.time-35 .ticking.pos-34,
.time-35 .ticking.pos-35,
.time-36 .ticking.pos-0,
.time-36 .ticking.pos-1,
.time-36 .ticking.pos-2,
.time-36 .ticking.pos-3,
.time-36 .ticking.pos-4,
.time-36 .ticking.pos-5,
.time-36 .ticking.pos-6,
.time-36 .ticking.pos-7,
.time-36 .ticking.pos-8,
.time-36 .ticking.pos-9,
.time-36 .ticking.pos-10,
.time-36 .ticking.pos-11,
.time-36 .ticking.pos-12,
.time-36 .ticking.pos-13,
.time-36 .ticking.pos-14,
.time-36 .ticking.pos-15,
.time-36 .ticking.pos-16,
.time-36 .ticking.pos-17,
.time-36 .ticking.pos-18,
.time-36 .ticking.pos-19,
.time-36 .ticking.pos-20,
.time-36 .ticking.pos-21,
.time-36 .ticking.pos-22,
.time-36 .ticking.pos-23,
.time-36 .ticking.pos-24,
.time-36 .ticking.pos-25,
.time-36 .ticking.pos-26,
.time-36 .ticking.pos-27,
.time-36 .ticking.pos-28,
.time-36 .ticking.pos-29,
.time-36 .ticking.pos-30,
.time-36 .ticking.pos-31,
.time-36 .ticking.pos-32,
.time-36 .ticking.pos-33,
.time-36 .ticking.pos-34,
.time-36 .ticking.pos-35,
.time-36 .ticking.pos-36,
.time-37 .ticking.pos-0,
.time-37 .ticking.pos-1,
.time-37 .ticking.pos-2,
.time-37 .ticking.pos-3,
.time-37 .ticking.pos-4,
.time-37 .ticking.pos-5,
.time-37 .ticking.pos-6,
.time-37 .ticking.pos-7,
.time-37 .ticking.pos-8,
.time-37 .ticking.pos-9,
.time-37 .ticking.pos-10,
.time-37 .ticking.pos-11,
.time-37 .ticking.pos-12,
.time-37 .ticking.pos-13,
.time-37 .ticking.pos-14,
.time-37 .ticking.pos-15,
.time-37 .ticking.pos-16,
.time-37 .ticking.pos-17,
.time-37 .ticking.pos-18,
.time-37 .ticking.pos-19,
.time-37 .ticking.pos-20,
.time-37 .ticking.pos-21,
.time-37 .ticking.pos-22,
.time-37 .ticking.pos-23,
.time-37 .ticking.pos-24,
.time-37 .ticking.pos-25,
.time-37 .ticking.pos-26,
.time-37 .ticking.pos-27,
.time-37 .ticking.pos-28,
.time-37 .ticking.pos-29,
.time-37 .ticking.pos-30,
.time-37 .ticking.pos-31,
.time-37 .ticking.pos-32,
.time-37 .ticking.pos-33,
.time-37 .ticking.pos-34,
.time-37 .ticking.pos-35,
.time-37 .ticking.pos-36,
.time-37 .ticking.pos-37,
.time-38 .ticking.pos-0,
.time-38 .ticking.pos-1,
.time-38 .ticking.pos-2,
.time-38 .ticking.pos-3,
.time-38 .ticking.pos-4,
.time-38 .ticking.pos-5,
.time-38 .ticking.pos-6,
.time-38 .ticking.pos-7,
.time-38 .ticking.pos-8,
.time-38 .ticking.pos-9,
.time-38 .ticking.pos-10,
.time-38 .ticking.pos-11,
.time-38 .ticking.pos-12,
.time-38 .ticking.pos-13,
.time-38 .ticking.pos-14,
.time-38 .ticking.pos-15,
.time-38 .ticking.pos-16,
.time-38 .ticking.pos-17,
.time-38 .ticking.pos-18,
.time-38 .ticking.pos-19,
.time-38 .ticking.pos-20,
.time-38 .ticking.pos-21,
.time-38 .ticking.pos-22,
.time-38 .ticking.pos-23,
.time-38 .ticking.pos-24,
.time-38 .ticking.pos-25,
.time-38 .ticking.pos-26,
.time-38 .ticking.pos-27,
.time-38 .ticking.pos-28,
.time-38 .ticking.pos-29,
.time-38 .ticking.pos-30,
.time-38 .ticking.pos-31,
.time-38 .ticking.pos-32,
.time-38 .ticking.pos-33,
.time-38 .ticking.pos-34,
.time-38 .ticking.pos-35,
.time-38 .ticking.pos-36,
.time-38 .ticking.pos-37,
.time-38 .ticking.pos-38,
.time-39 .ticking.pos-0,
.time-39 .ticking.pos-1,
.time-39 .ticking.pos-2,
.time-39 .ticking.pos-3,
.time-39 .ticking.pos-4,
.time-39 .ticking.pos-5,
.time-39 .ticking.pos-6,
.time-39 .ticking.pos-7,
.time-39 .ticking.pos-8,
.time-39 .ticking.pos-9,
.time-39 .ticking.pos-10,
.time-39 .ticking.pos-11,
.time-39 .ticking.pos-12,
.time-39 .ticking.pos-13,
.time-39 .ticking.pos-14,
.time-39 .ticking.pos-15,
.time-39 .ticking.pos-16,
.time-39 .ticking.pos-17,
.time-39 .ticking.pos-18,
.time-39 .ticking.pos-19,
.time-39 .ticking.pos-20,
.time-39 .ticking.pos-21,
.time-39 .ticking.pos-22,
.time-39 .ticking.pos-23,
.time-39 .ticking.pos-24,
.time-39 .ticking.pos-25,
.time-39 .ticking.pos-26,
.time-39 .ticking.pos-27,
.time-39 .ticking.pos-28,
.time-39 .ticking.pos-29,
.time-39 .ticking.pos-30,
.time-39 .ticking.pos-31,
.time-39 .ticking.pos-32,
.time-39 .ticking.pos-33,
.time-39 .ticking.pos-34,
.time-39 .ticking.pos-35,
.time-39 .ticking.pos-36,
.time-39 .ticking.pos-37,
.time-39 .ticking.pos-38,
.time-39 .ticking.pos-39,
.time-40 .ticking.pos-0,
.time-40 .ticking.pos-1,
.time-40 .ticking.pos-2,
.time-40 .ticking.pos-3,
.time-40 .ticking.pos-4,
.time-40 .ticking.pos-5,
.time-40 .ticking.pos-6,
.time-40 .ticking.pos-7,
.time-40 .ticking.pos-8,
.time-40 .ticking.pos-9,
.time-40 .ticking.pos-10,
.time-40 .ticking.pos-11,
.time-40 .ticking.pos-12,
.time-40 .ticking.pos-13,
.time-40 .ticking.pos-14,
.time-40 .ticking.pos-15,
.time-40 .ticking.pos-16,
.time-40 .ticking.pos-17,
.time-40 .ticking.pos-18,
.time-40 .ticking.pos-19,
.time-40 .ticking.pos-20,
.time-40 .ticking.pos-21,
.time-40 .ticking.pos-22,
.time-40 .ticking.pos-23,
.time-40 .ticking.pos-24,
.time-40 .ticking.pos-25,
.time-40 .ticking.pos-26,
.time-40 .ticking.pos-27,
.time-40 .ticking.pos-28,
.time-40 .ticking.pos-29,
.time-40 .ticking.pos-30,
.time-40 .ticking.pos-31,
.time-40 .ticking.pos-32,
.time-40 .ticking.pos-33,
.time-40 .ticking.pos-34,
.time-40 .ticking.pos-35,
.time-40 .ticking.pos-36,
.time-40 .ticking.pos-37,
.time-40 .ticking.pos-38,
.time-40 .ticking.pos-39,
.time-40 .ticking.pos-40,
.time-41 .ticking.pos-0,
.time-41 .ticking.pos-1,
.time-41 .ticking.pos-2,
.time-41 .ticking.pos-3,
.time-41 .ticking.pos-4,
.time-41 .ticking.pos-5,
.time-41 .ticking.pos-6,
.time-41 .ticking.pos-7,
.time-41 .ticking.pos-8,
.time-41 .ticking.pos-9,
.time-41 .ticking.pos-10,
.time-41 .ticking.pos-11,
.time-41 .ticking.pos-12,
.time-41 .ticking.pos-13,
.time-41 .ticking.pos-14,
.time-41 .ticking.pos-15,
.time-41 .ticking.pos-16,
.time-41 .ticking.pos-17,
.time-41 .ticking.pos-18,
.time-41 .ticking.pos-19,
.time-41 .ticking.pos-20,
.time-41 .ticking.pos-21,
.time-41 .ticking.pos-22,
.time-41 .ticking.pos-23,
.time-41 .ticking.pos-24,
.time-41 .ticking.pos-25,
.time-41 .ticking.pos-26,
.time-41 .ticking.pos-27,
.time-41 .ticking.pos-28,
.time-41 .ticking.pos-29,
.time-41 .ticking.pos-30,
.time-41 .ticking.pos-31,
.time-41 .ticking.pos-32,
.time-41 .ticking.pos-33,
.time-41 .ticking.pos-34,
.time-41 .ticking.pos-35,
.time-41 .ticking.pos-36,
.time-41 .ticking.pos-37,
.time-41 .ticking.pos-38,
.time-41 .ticking.pos-39,
.time-41 .ticking.pos-40,
.time-41 .ticking.pos-41,
.time-42 .ticking.pos-0,
.time-42 .ticking.pos-1,
.time-42 .ticking.pos-2,
.time-42 .ticking.pos-3,
.time-42 .ticking.pos-4,
.time-42 .ticking.pos-5,
.time-42 .ticking.pos-6,
.time-42 .ticking.pos-7,
.time-42 .ticking.pos-8,
.time-42 .ticking.pos-9,
.time-42 .ticking.pos-10,
.time-42 .ticking.pos-11,
.time-42 .ticking.pos-12,
.time-42 .ticking.pos-13,
.time-42 .ticking.pos-14,
.time-42 .ticking.pos-15,
.time-42 .ticking.pos-16,
.time-42 .ticking.pos-17,
.time-42 .ticking.pos-18,
.time-42 .ticking.pos-19,
.time-42 .ticking.pos-20,
.time-42 .ticking.pos-21,
.time-42 .ticking.pos-22,
.time-42 .ticking.pos-23,
.time-42 .ticking.pos-24,
.time-42 .ticking.pos-25,
.time-42 .ticking.pos-26,
.time-42 .ticking.pos-27,
.time-42 .ticking.pos-28,
.time-42 .ticking.pos-29,
.time-42 .ticking.pos-30,
.time-42 .ticking.pos-31,
.time-42 .ticking.pos-32,
.time-42 .ticking.pos-33,
.time-42 .ticking.pos-34,
.time-42 .ticking.pos-35,
.time-42 .ticking.pos-36,
.time-42 .ticking.pos-37,
.time-42 .ticking.pos-38,
.time-42 .ticking.pos-39,
.time-42 .ticking.pos-40,
.time-42 .ticking.pos-41,
.time-42 .ticking.pos-42,
.time-43 .ticking.pos-0,
.time-43 .ticking.pos-1,
.time-43 .ticking.pos-2,
.time-43 .ticking.pos-3,
.time-43 .ticking.pos-4,
.time-43 .ticking.pos-5,
.time-43 .ticking.pos-6,
.time-43 .ticking.pos-7,
.time-43 .ticking.pos-8,
.time-43 .ticking.pos-9,
.time-43 .ticking.pos-10,
.time-43 .ticking.pos-11,
.time-43 .ticking.pos-12,
.time-43 .ticking.pos-13,
.time-43 .ticking.pos-14,
.time-43 .ticking.pos-15,
.time-43 .ticking.pos-16,
.time-43 .ticking.pos-17,
.time-43 .ticking.pos-18,
.time-43 .ticking.pos-19,
.time-43 .ticking.pos-20,
.time-43 .ticking.pos-21,
.time-43 .ticking.pos-22,
.time-43 .ticking.pos-23,
.time-43 .ticking.pos-24,
.time-43 .ticking.pos-25,
.time-43 .ticking.pos-26,
.time-43 .ticking.pos-27,
.time-43 .ticking.pos-28,
.time-43 .ticking.pos-29,
.time-43 .ticking.pos-30,
.time-43 .ticking.pos-31,
.time-43 .ticking.pos-32,
.time-43 .ticking.pos-33,
.time-43 .ticking.pos-34,
.time-43 .ticking.pos-35,
.time-43 .ticking.pos-36,
.time-43 .ticking.pos-37,
.time-43 .ticking.pos-38,
.time-43 .ticking.pos-39,
.time-43 .ticking.pos-40,
.time-43 .ticking.pos-41,
.time-43 .ticking.pos-42,
.time-43 .ticking.pos-43,
.time-44 .ticking.pos-0,
.time-44 .ticking.pos-1,
.time-44 .ticking.pos-2,
.time-44 .ticking.pos-3,
.time-44 .ticking.pos-4,
.time-44 .ticking.pos-5,
.time-44 .ticking.pos-6,
.time-44 .ticking.pos-7,
.time-44 .ticking.pos-8,
.time-44 .ticking.pos-9,
.time-44 .ticking.pos-10,
.time-44 .ticking.pos-11,
.time-44 .ticking.pos-12,
.time-44 .ticking.pos-13,
.time-44 .ticking.pos-14,
.time-44 .ticking.pos-15,
.time-44 .ticking.pos-16,
.time-44 .ticking.pos-17,
.time-44 .ticking.pos-18,
.time-44 .ticking.pos-19,
.time-44 .ticking.pos-20,
.time-44 .ticking.pos-21,
.time-44 .ticking.pos-22,
.time-44 .ticking.pos-23,
.time-44 .ticking.pos-24,
.time-44 .ticking.pos-25,
.time-44 .ticking.pos-26,
.time-44 .ticking.pos-27,
.time-44 .ticking.pos-28,
.time-44 .ticking.pos-29,
.time-44 .ticking.pos-30,
.time-44 .ticking.pos-31,
.time-44 .ticking.pos-32,
.time-44 .ticking.pos-33,
.time-44 .ticking.pos-34,
.time-44 .ticking.pos-35,
.time-44 .ticking.pos-36,
.time-44 .ticking.pos-37,
.time-44 .ticking.pos-38,
.time-44 .ticking.pos-39,
.time-44 .ticking.pos-40,
.time-44 .ticking.pos-41,
.time-44 .ticking.pos-42,
.time-44 .ticking.pos-43,
.time-44 .ticking.pos-44,
.time-45 .ticking.pos-0,
.time-45 .ticking.pos-1,
.time-45 .ticking.pos-2,
.time-45 .ticking.pos-3,
.time-45 .ticking.pos-4,
.time-45 .ticking.pos-5,
.time-45 .ticking.pos-6,
.time-45 .ticking.pos-7,
.time-45 .ticking.pos-8,
.time-45 .ticking.pos-9,
.time-45 .ticking.pos-10,
.time-45 .ticking.pos-11,
.time-45 .ticking.pos-12,
.time-45 .ticking.pos-13,
.time-45 .ticking.pos-14,
.time-45 .ticking.pos-15,
.time-45 .ticking.pos-16,
.time-45 .ticking.pos-17,
.time-45 .ticking.pos-18,
.time-45 .ticking.pos-19,
.time-45 .ticking.pos-20,
.time-45 .ticking.pos-21,
.time-45 .ticking.pos-22,
.time-45 .ticking.pos-23,
.time-45 .ticking.pos-24,
.time-45 .ticking.pos-25,
.time-45 .ticking.pos-26,
.time-45 .ticking.pos-27,
.time-45 .ticking.pos-28,
.time-45 .ticking.pos-29,
.time-45 .ticking.pos-30,
.time-45 .ticking.pos-31,
.time-45 .ticking.pos-32,
.time-45 .ticking.pos-33,
.time-45 .ticking.pos-34,
.time-45 .ticking.pos-35,
.time-45 .ticking.pos-36,
.time-45 .ticking.pos-37,
.time-45 .ticking.pos-38,
.time-45 .ticking.pos-39,
.time-45 .ticking.pos-40,
.time-45 .ticking.pos-41,
.time-45 .ticking.pos-42,
.time-45 .ticking.pos-43,
.time-45 .ticking.pos-44,
.time-45 .ticking.pos-45,
.time-46 .ticking.pos-0,
.time-46 .ticking.pos-1,
.time-46 .ticking.pos-2,
.time-46 .ticking.pos-3,
.time-46 .ticking.pos-4,
.time-46 .ticking.pos-5,
.time-46 .ticking.pos-6,
.time-46 .ticking.pos-7,
.time-46 .ticking.pos-8,
.time-46 .ticking.pos-9,
.time-46 .ticking.pos-10,
.time-46 .ticking.pos-11,
.time-46 .ticking.pos-12,
.time-46 .ticking.pos-13,
.time-46 .ticking.pos-14,
.time-46 .ticking.pos-15,
.time-46 .ticking.pos-16,
.time-46 .ticking.pos-17,
.time-46 .ticking.pos-18,
.time-46 .ticking.pos-19,
.time-46 .ticking.pos-20,
.time-46 .ticking.pos-21,
.time-46 .ticking.pos-22,
.time-46 .ticking.pos-23,
.time-46 .ticking.pos-24,
.time-46 .ticking.pos-25,
.time-46 .ticking.pos-26,
.time-46 .ticking.pos-27,
.time-46 .ticking.pos-28,
.time-46 .ticking.pos-29,
.time-46 .ticking.pos-30,
.time-46 .ticking.pos-31,
.time-46 .ticking.pos-32,
.time-46 .ticking.pos-33,
.time-46 .ticking.pos-34,
.time-46 .ticking.pos-35,
.time-46 .ticking.pos-36,
.time-46 .ticking.pos-37,
.time-46 .ticking.pos-38,
.time-46 .ticking.pos-39,
.time-46 .ticking.pos-40,
.time-46 .ticking.pos-41,
.time-46 .ticking.pos-42,
.time-46 .ticking.pos-43,
.time-46 .ticking.pos-44,
.time-46 .ticking.pos-45,
.time-46 .ticking.pos-46,
.time-47 .ticking.pos-0,
.time-47 .ticking.pos-1,
.time-47 .ticking.pos-2,
.time-47 .ticking.pos-3,
.time-47 .ticking.pos-4,
.time-47 .ticking.pos-5,
.time-47 .ticking.pos-6,
.time-47 .ticking.pos-7,
.time-47 .ticking.pos-8,
.time-47 .ticking.pos-9,
.time-47 .ticking.pos-10,
.time-47 .ticking.pos-11,
.time-47 .ticking.pos-12,
.time-47 .ticking.pos-13,
.time-47 .ticking.pos-14,
.time-47 .ticking.pos-15,
.time-47 .ticking.pos-16,
.time-47 .ticking.pos-17,
.time-47 .ticking.pos-18,
.time-47 .ticking.pos-19,
.time-47 .ticking.pos-20,
.time-47 .ticking.pos-21,
.time-47 .ticking.pos-22,
.time-47 .ticking.pos-23,
.time-47 .ticking.pos-24,
.time-47 .ticking.pos-25,
.time-47 .ticking.pos-26,
.time-47 .ticking.pos-27,
.time-47 .ticking.pos-28,
.time-47 .ticking.pos-29,
.time-47 .ticking.pos-30,
.time-47 .ticking.pos-31,
.time-47 .ticking.pos-32,
.time-47 .ticking.pos-33,
.time-47 .ticking.pos-34,
.time-47 .ticking.pos-35,
.time-47 .ticking.pos-36,
.time-47 .ticking.pos-37,
.time-47 .ticking.pos-38,
.time-47 .ticking.pos-39,
.time-47 .ticking.pos-40,
.time-47 .ticking.pos-41,
.time-47 .ticking.pos-42,
.time-47 .ticking.pos-43,
.time-47 .ticking.pos-44,
.time-47 .ticking.pos-45,
.time-47 .ticking.pos-46,
.time-47 .ticking.pos-47,
.time-48 .ticking.pos-0,
.time-48 .ticking.pos-1,
.time-48 .ticking.pos-2,
.time-48 .ticking.pos-3,
.time-48 .ticking.pos-4,
.time-48 .ticking.pos-5,
.time-48 .ticking.pos-6,
.time-48 .ticking.pos-7,
.time-48 .ticking.pos-8,
.time-48 .ticking.pos-9,
.time-48 .ticking.pos-10,
.time-48 .ticking.pos-11,
.time-48 .ticking.pos-12,
.time-48 .ticking.pos-13,
.time-48 .ticking.pos-14,
.time-48 .ticking.pos-15,
.time-48 .ticking.pos-16,
.time-48 .ticking.pos-17,
.time-48 .ticking.pos-18,
.time-48 .ticking.pos-19,
.time-48 .ticking.pos-20,
.time-48 .ticking.pos-21,
.time-48 .ticking.pos-22,
.time-48 .ticking.pos-23,
.time-48 .ticking.pos-24,
.time-48 .ticking.pos-25,
.time-48 .ticking.pos-26,
.time-48 .ticking.pos-27,
.time-48 .ticking.pos-28,
.time-48 .ticking.pos-29,
.time-48 .ticking.pos-30,
.time-48 .ticking.pos-31,
.time-48 .ticking.pos-32,
.time-48 .ticking.pos-33,
.time-48 .ticking.pos-34,
.time-48 .ticking.pos-35,
.time-48 .ticking.pos-36,
.time-48 .ticking.pos-37,
.time-48 .ticking.pos-38,
.time-48 .ticking.pos-39,
.time-48 .ticking.pos-40,
.time-48 .ticking.pos-41,
.time-48 .ticking.pos-42,
.time-48 .ticking.pos-43,
.time-48 .ticking.pos-44,
.time-48 .ticking.pos-45,
.time-48 .ticking.pos-46,
.time-48 .ticking.pos-47,
.time-48 .ticking.pos-48,
.time-49 .ticking.pos-0,
.time-49 .ticking.pos-1,
.time-49 .ticking.pos-2,
.time-49 .ticking.pos-3,
.time-49 .ticking.pos-4,
.time-49 .ticking.pos-5,
.time-49 .ticking.pos-6,
.time-49 .ticking.pos-7,
.time-49 .ticking.pos-8,
.time-49 .ticking.pos-9,
.time-49 .ticking.pos-10,
.time-49 .ticking.pos-11,
.time-49 .ticking.pos-12,
.time-49 .ticking.pos-13,
.time-49 .ticking.pos-14,
.time-49 .ticking.pos-15,
.time-49 .ticking.pos-16,
.time-49 .ticking.pos-17,
.time-49 .ticking.pos-18,
.time-49 .ticking.pos-19,
.time-49 .ticking.pos-20,
.time-49 .ticking.pos-21,
.time-49 .ticking.pos-22,
.time-49 .ticking.pos-23,
.time-49 .ticking.pos-24,
.time-49 .ticking.pos-25,
.time-49 .ticking.pos-26,
.time-49 .ticking.pos-27,
.time-49 .ticking.pos-28,
.time-49 .ticking.pos-29,
.time-49 .ticking.pos-30,
.time-49 .ticking.pos-31,
.time-49 .ticking.pos-32,
.time-49 .ticking.pos-33,
.time-49 .ticking.pos-34,
.time-49 .ticking.pos-35,
.time-49 .ticking.pos-36,
.time-49 .ticking.pos-37,
.time-49 .ticking.pos-38,
.time-49 .ticking.pos-39,
.time-49 .ticking.pos-40,
.time-49 .ticking.pos-41,
.time-49 .ticking.pos-42,
.time-49 .ticking.pos-43,
.time-49 .ticking.pos-44,
.time-49 .ticking.pos-45,
.time-49 .ticking.pos-46,
.time-49 .ticking.pos-47,
.time-49 .ticking.pos-48,
.time-49 .ticking.pos-49,
.time-50 .ticking.pos-0,
.time-50 .ticking.pos-1,
.time-50 .ticking.pos-2,
.time-50 .ticking.pos-3,
.time-50 .ticking.pos-4,
.time-50 .ticking.pos-5,
.time-50 .ticking.pos-6,
.time-50 .ticking.pos-7,
.time-50 .ticking.pos-8,
.time-50 .ticking.pos-9,
.time-50 .ticking.pos-10,
.time-50 .ticking.pos-11,
.time-50 .ticking.pos-12,
.time-50 .ticking.pos-13,
.time-50 .ticking.pos-14,
.time-50 .ticking.pos-15,
.time-50 .ticking.pos-16,
.time-50 .ticking.pos-17,
.time-50 .ticking.pos-18,
.time-50 .ticking.pos-19,
.time-50 .ticking.pos-20,
.time-50 .ticking.pos-21,
.time-50 .ticking.pos-22,
.time-50 .ticking.pos-23,
.time-50 .ticking.pos-24,
.time-50 .ticking.pos-25,
.time-50 .ticking.pos-26,
.time-50 .ticking.pos-27,
.time-50 .ticking.pos-28,
.time-50 .ticking.pos-29,
.time-50 .ticking.pos-30,
.time-50 .ticking.pos-31,
.time-50 .ticking.pos-32,
.time-50 .ticking.pos-33,
.time-50 .ticking.pos-34,
.time-50 .ticking.pos-35,
.time-50 .ticking.pos-36,
.time-50 .ticking.pos-37,
.time-50 .ticking.pos-38,
.time-50 .ticking.pos-39,
.time-50 .ticking.pos-40,
.time-50 .ticking.pos-41,
.time-50 .ticking.pos-42,
.time-50 .ticking.pos-43,
.time-50 .ticking.pos-44,
.time-50 .ticking.pos-45,
.time-50 .ticking.pos-46,
.time-50 .ticking.pos-47,
.time-50 .ticking.pos-48,
.time-50 .ticking.pos-49,
.time-50 .ticking.pos-50,
.time-51 .ticking.pos-0,
.time-51 .ticking.pos-1,
.time-51 .ticking.pos-2,
.time-51 .ticking.pos-3,
.time-51 .ticking.pos-4,
.time-51 .ticking.pos-5,
.time-51 .ticking.pos-6,
.time-51 .ticking.pos-7,
.time-51 .ticking.pos-8,
.time-51 .ticking.pos-9,
.time-51 .ticking.pos-10,
.time-51 .ticking.pos-11,
.time-51 .ticking.pos-12,
.time-51 .ticking.pos-13,
.time-51 .ticking.pos-14,
.time-51 .ticking.pos-15,
.time-51 .ticking.pos-16,
.time-51 .ticking.pos-17,
.time-51 .ticking.pos-18,
.time-51 .ticking.pos-19,
.time-51 .ticking.pos-20,
.time-51 .ticking.pos-21,
.time-51 .ticking.pos-22,
.time-51 .ticking.pos-23,
.time-51 .ticking.pos-24,
.time-51 .ticking.pos-25,
.time-51 .ticking.pos-26,
.time-51 .ticking.pos-27,
.time-51 .ticking.pos-28,
.time-51 .ticking.pos-29,
.time-51 .ticking.pos-30,
.time-51 .ticking.pos-31,
.time-51 .ticking.pos-32,
.time-51 .ticking.pos-33,
.time-51 .ticking.pos-34,
.time-51 .ticking.pos-35,
.time-51 .ticking.pos-36,
.time-51 .ticking.pos-37,
.time-51 .ticking.pos-38,
.time-51 .ticking.pos-39,
.time-51 .ticking.pos-40,
.time-51 .ticking.pos-41,
.time-51 .ticking.pos-42,
.time-51 .ticking.pos-43,
.time-51 .ticking.pos-44,
.time-51 .ticking.pos-45,
.time-51 .ticking.pos-46,
.time-51 .ticking.pos-47,
.time-51 .ticking.pos-48,
.time-51 .ticking.pos-49,
.time-51 .ticking.pos-50,
.time-51 .ticking.pos-51,
.time-52 .ticking.pos-0,
.time-52 .ticking.pos-1,
.time-52 .ticking.pos-2,
.time-52 .ticking.pos-3,
.time-52 .ticking.pos-4,
.time-52 .ticking.pos-5,
.time-52 .ticking.pos-6,
.time-52 .ticking.pos-7,
.time-52 .ticking.pos-8,
.time-52 .ticking.pos-9,
.time-52 .ticking.pos-10,
.time-52 .ticking.pos-11,
.time-52 .ticking.pos-12,
.time-52 .ticking.pos-13,
.time-52 .ticking.pos-14,
.time-52 .ticking.pos-15,
.time-52 .ticking.pos-16,
.time-52 .ticking.pos-17,
.time-52 .ticking.pos-18,
.time-52 .ticking.pos-19,
.time-52 .ticking.pos-20,
.time-52 .ticking.pos-21,
.time-52 .ticking.pos-22,
.time-52 .ticking.pos-23,
.time-52 .ticking.pos-24,
.time-52 .ticking.pos-25,
.time-52 .ticking.pos-26,
.time-52 .ticking.pos-27,
.time-52 .ticking.pos-28,
.time-52 .ticking.pos-29,
.time-52 .ticking.pos-30,
.time-52 .ticking.pos-31,
.time-52 .ticking.pos-32,
.time-52 .ticking.pos-33,
.time-52 .ticking.pos-34,
.time-52 .ticking.pos-35,
.time-52 .ticking.pos-36,
.time-52 .ticking.pos-37,
.time-52 .ticking.pos-38,
.time-52 .ticking.pos-39,
.time-52 .ticking.pos-40,
.time-52 .ticking.pos-41,
.time-52 .ticking.pos-42,
.time-52 .ticking.pos-43,
.time-52 .ticking.pos-44,
.time-52 .ticking.pos-45,
.time-52 .ticking.pos-46,
.time-52 .ticking.pos-47,
.time-52 .ticking.pos-48,
.time-52 .ticking.pos-49,
.time-52 .ticking.pos-50,
.time-52 .ticking.pos-51,
.time-52 .ticking.pos-52,
.time-53 .ticking.pos-0,
.time-53 .ticking.pos-1,
.time-53 .ticking.pos-2,
.time-53 .ticking.pos-3,
.time-53 .ticking.pos-4,
.time-53 .ticking.pos-5,
.time-53 .ticking.pos-6,
.time-53 .ticking.pos-7,
.time-53 .ticking.pos-8,
.time-53 .ticking.pos-9,
.time-53 .ticking.pos-10,
.time-53 .ticking.pos-11,
.time-53 .ticking.pos-12,
.time-53 .ticking.pos-13,
.time-53 .ticking.pos-14,
.time-53 .ticking.pos-15,
.time-53 .ticking.pos-16,
.time-53 .ticking.pos-17,
.time-53 .ticking.pos-18,
.time-53 .ticking.pos-19,
.time-53 .ticking.pos-20,
.time-53 .ticking.pos-21,
.time-53 .ticking.pos-22,
.time-53 .ticking.pos-23,
.time-53 .ticking.pos-24,
.time-53 .ticking.pos-25,
.time-53 .ticking.pos-26,
.time-53 .ticking.pos-27,
.time-53 .ticking.pos-28,
.time-53 .ticking.pos-29,
.time-53 .ticking.pos-30,
.time-53 .ticking.pos-31,
.time-53 .ticking.pos-32,
.time-53 .ticking.pos-33,
.time-53 .ticking.pos-34,
.time-53 .ticking.pos-35,
.time-53 .ticking.pos-36,
.time-53 .ticking.pos-37,
.time-53 .ticking.pos-38,
.time-53 .ticking.pos-39,
.time-53 .ticking.pos-40,
.time-53 .ticking.pos-41,
.time-53 .ticking.pos-42,
.time-53 .ticking.pos-43,
.time-53 .ticking.pos-44,
.time-53 .ticking.pos-45,
.time-53 .ticking.pos-46,
.time-53 .ticking.pos-47,
.time-53 .ticking.pos-48,
.time-53 .ticking.pos-49,
.time-53 .ticking.pos-50,
.time-53 .ticking.pos-51,
.time-53 .ticking.pos-52,
.time-53 .ticking.pos-53,
.time-54 .ticking.pos-0,
.time-54 .ticking.pos-1,
.time-54 .ticking.pos-2,
.time-54 .ticking.pos-3,
.time-54 .ticking.pos-4,
.time-54 .ticking.pos-5,
.time-54 .ticking.pos-6,
.time-54 .ticking.pos-7,
.time-54 .ticking.pos-8,
.time-54 .ticking.pos-9,
.time-54 .ticking.pos-10,
.time-54 .ticking.pos-11,
.time-54 .ticking.pos-12,
.time-54 .ticking.pos-13,
.time-54 .ticking.pos-14,
.time-54 .ticking.pos-15,
.time-54 .ticking.pos-16,
.time-54 .ticking.pos-17,
.time-54 .ticking.pos-18,
.time-54 .ticking.pos-19,
.time-54 .ticking.pos-20,
.time-54 .ticking.pos-21,
.time-54 .ticking.pos-22,
.time-54 .ticking.pos-23,
.time-54 .ticking.pos-24,
.time-54 .ticking.pos-25,
.time-54 .ticking.pos-26,
.time-54 .ticking.pos-27,
.time-54 .ticking.pos-28,
.time-54 .ticking.pos-29,
.time-54 .ticking.pos-30,
.time-54 .ticking.pos-31,
.time-54 .ticking.pos-32,
.time-54 .ticking.pos-33,
.time-54 .ticking.pos-34,
.time-54 .ticking.pos-35,
.time-54 .ticking.pos-36,
.time-54 .ticking.pos-37,
.time-54 .ticking.pos-38,
.time-54 .ticking.pos-39,
.time-54 .ticking.pos-40,
.time-54 .ticking.pos-41,
.time-54 .ticking.pos-42,
.time-54 .ticking.pos-43,
.time-54 .ticking.pos-44,
.time-54 .ticking.pos-45,
.time-54 .ticking.pos-46,
.time-54 .ticking.pos-47,
.time-54 .ticking.pos-48,
.time-54 .ticking.pos-49,
.time-54 .ticking.pos-50,
.time-54 .ticking.pos-51,
.time-54 .ticking.pos-52,
.time-54 .ticking.pos-53,
.time-54 .ticking.pos-54,
.time-55 .ticking.pos-0,
.time-55 .ticking.pos-1,
.time-55 .ticking.pos-2,
.time-55 .ticking.pos-3,
.time-55 .ticking.pos-4,
.time-55 .ticking.pos-5,
.time-55 .ticking.pos-6,
.time-55 .ticking.pos-7,
.time-55 .ticking.pos-8,
.time-55 .ticking.pos-9,
.time-55 .ticking.pos-10,
.time-55 .ticking.pos-11,
.time-55 .ticking.pos-12,
.time-55 .ticking.pos-13,
.time-55 .ticking.pos-14,
.time-55 .ticking.pos-15,
.time-55 .ticking.pos-16,
.time-55 .ticking.pos-17,
.time-55 .ticking.pos-18,
.time-55 .ticking.pos-19,
.time-55 .ticking.pos-20,
.time-55 .ticking.pos-21,
.time-55 .ticking.pos-22,
.time-55 .ticking.pos-23,
.time-55 .ticking.pos-24,
.time-55 .ticking.pos-25,
.time-55 .ticking.pos-26,
.time-55 .ticking.pos-27,
.time-55 .ticking.pos-28,
.time-55 .ticking.pos-29,
.time-55 .ticking.pos-30,
.time-55 .ticking.pos-31,
.time-55 .ticking.pos-32,
.time-55 .ticking.pos-33,
.time-55 .ticking.pos-34,
.time-55 .ticking.pos-35,
.time-55 .ticking.pos-36,
.time-55 .ticking.pos-37,
.time-55 .ticking.pos-38,
.time-55 .ticking.pos-39,
.time-55 .ticking.pos-40,
.time-55 .ticking.pos-41,
.time-55 .ticking.pos-42,
.time-55 .ticking.pos-43,
.time-55 .ticking.pos-44,
.time-55 .ticking.pos-45,
.time-55 .ticking.pos-46,
.time-55 .ticking.pos-47,
.time-55 .ticking.pos-48,
.time-55 .ticking.pos-49,
.time-55 .ticking.pos-50,
.time-55 .ticking.pos-51,
.time-55 .ticking.pos-52,
.time-55 .ticking.pos-53,
.time-55 .ticking.pos-54,
.time-55 .ticking.pos-55,
.time-56 .ticking.pos-0,
.time-56 .ticking.pos-1,
.time-56 .ticking.pos-2,
.time-56 .ticking.pos-3,
.time-56 .ticking.pos-4,
.time-56 .ticking.pos-5,
.time-56 .ticking.pos-6,
.time-56 .ticking.pos-7,
.time-56 .ticking.pos-8,
.time-56 .ticking.pos-9,
.time-56 .ticking.pos-10,
.time-56 .ticking.pos-11,
.time-56 .ticking.pos-12,
.time-56 .ticking.pos-13,
.time-56 .ticking.pos-14,
.time-56 .ticking.pos-15,
.time-56 .ticking.pos-16,
.time-56 .ticking.pos-17,
.time-56 .ticking.pos-18,
.time-56 .ticking.pos-19,
.time-56 .ticking.pos-20,
.time-56 .ticking.pos-21,
.time-56 .ticking.pos-22,
.time-56 .ticking.pos-23,
.time-56 .ticking.pos-24,
.time-56 .ticking.pos-25,
.time-56 .ticking.pos-26,
.time-56 .ticking.pos-27,
.time-56 .ticking.pos-28,
.time-56 .ticking.pos-29,
.time-56 .ticking.pos-30,
.time-56 .ticking.pos-31,
.time-56 .ticking.pos-32,
.time-56 .ticking.pos-33,
.time-56 .ticking.pos-34,
.time-56 .ticking.pos-35,
.time-56 .ticking.pos-36,
.time-56 .ticking.pos-37,
.time-56 .ticking.pos-38,
.time-56 .ticking.pos-39,
.time-56 .ticking.pos-40,
.time-56 .ticking.pos-41,
.time-56 .ticking.pos-42,
.time-56 .ticking.pos-43,
.time-56 .ticking.pos-44,
.time-56 .ticking.pos-45,
.time-56 .ticking.pos-46,
.time-56 .ticking.pos-47,
.time-56 .ticking.pos-48,
.time-56 .ticking.pos-49,
.time-56 .ticking.pos-50,
.time-56 .ticking.pos-51,
.time-56 .ticking.pos-52,
.time-56 .ticking.pos-53,
.time-56 .ticking.pos-54,
.time-56 .ticking.pos-55,
.time-56 .ticking.pos-56,
.time-57 .ticking.pos-0,
.time-57 .ticking.pos-1,
.time-57 .ticking.pos-2,
.time-57 .ticking.pos-3,
.time-57 .ticking.pos-4,
.time-57 .ticking.pos-5,
.time-57 .ticking.pos-6,
.time-57 .ticking.pos-7,
.time-57 .ticking.pos-8,
.time-57 .ticking.pos-9,
.time-57 .ticking.pos-10,
.time-57 .ticking.pos-11,
.time-57 .ticking.pos-12,
.time-57 .ticking.pos-13,
.time-57 .ticking.pos-14,
.time-57 .ticking.pos-15,
.time-57 .ticking.pos-16,
.time-57 .ticking.pos-17,
.time-57 .ticking.pos-18,
.time-57 .ticking.pos-19,
.time-57 .ticking.pos-20,
.time-57 .ticking.pos-21,
.time-57 .ticking.pos-22,
.time-57 .ticking.pos-23,
.time-57 .ticking.pos-24,
.time-57 .ticking.pos-25,
.time-57 .ticking.pos-26,
.time-57 .ticking.pos-27,
.time-57 .ticking.pos-28,
.time-57 .ticking.pos-29,
.time-57 .ticking.pos-30,
.time-57 .ticking.pos-31,
.time-57 .ticking.pos-32,
.time-57 .ticking.pos-33,
.time-57 .ticking.pos-34,
.time-57 .ticking.pos-35,
.time-57 .ticking.pos-36,
.time-57 .ticking.pos-37,
.time-57 .ticking.pos-38,
.time-57 .ticking.pos-39,
.time-57 .ticking.pos-40,
.time-57 .ticking.pos-41,
.time-57 .ticking.pos-42,
.time-57 .ticking.pos-43,
.time-57 .ticking.pos-44,
.time-57 .ticking.pos-45,
.time-57 .ticking.pos-46,
.time-57 .ticking.pos-47,
.time-57 .ticking.pos-48,
.time-57 .ticking.pos-49,
.time-57 .ticking.pos-50,
.time-57 .ticking.pos-51,
.time-57 .ticking.pos-52,
.time-57 .ticking.pos-53,
.time-57 .ticking.pos-54,
.time-57 .ticking.pos-55,
.time-57 .ticking.pos-56,
.time-57 .ticking.pos-57,
.time-58 .ticking.pos-0,
.time-58 .ticking.pos-1,
.time-58 .ticking.pos-2,
.time-58 .ticking.pos-3,
.time-58 .ticking.pos-4,
.time-58 .ticking.pos-5,
.time-58 .ticking.pos-6,
.time-58 .ticking.pos-7,
.time-58 .ticking.pos-8,
.time-58 .ticking.pos-9,
.time-58 .ticking.pos-10,
.time-58 .ticking.pos-11,
.time-58 .ticking.pos-12,
.time-58 .ticking.pos-13,
.time-58 .ticking.pos-14,
.time-58 .ticking.pos-15,
.time-58 .ticking.pos-16,
.time-58 .ticking.pos-17,
.time-58 .ticking.pos-18,
.time-58 .ticking.pos-19,
.time-58 .ticking.pos-20,
.time-58 .ticking.pos-21,
.time-58 .ticking.pos-22,
.time-58 .ticking.pos-23,
.time-58 .ticking.pos-24,
.time-58 .ticking.pos-25,
.time-58 .ticking.pos-26,
.time-58 .ticking.pos-27,
.time-58 .ticking.pos-28,
.time-58 .ticking.pos-29,
.time-58 .ticking.pos-30,
.time-58 .ticking.pos-31,
.time-58 .ticking.pos-32,
.time-58 .ticking.pos-33,
.time-58 .ticking.pos-34,
.time-58 .ticking.pos-35,
.time-58 .ticking.pos-36,
.time-58 .ticking.pos-37,
.time-58 .ticking.pos-38,
.time-58 .ticking.pos-39,
.time-58 .ticking.pos-40,
.time-58 .ticking.pos-41,
.time-58 .ticking.pos-42,
.time-58 .ticking.pos-43,
.time-58 .ticking.pos-44,
.time-58 .ticking.pos-45,
.time-58 .ticking.pos-46,
.time-58 .ticking.pos-47,
.time-58 .ticking.pos-48,
.time-58 .ticking.pos-49,
.time-58 .ticking.pos-50,
.time-58 .ticking.pos-51,
.time-58 .ticking.pos-52,
.time-58 .ticking.pos-53,
.time-58 .ticking.pos-54,
.time-58 .ticking.pos-55,
.time-58 .ticking.pos-56,
.time-58 .ticking.pos-57,
.time-58 .ticking.pos-58,
.time-59 .ticking.pos-0,
.time-59 .ticking.pos-1,
.time-59 .ticking.pos-2,
.time-59 .ticking.pos-3,
.time-59 .ticking.pos-4,
.time-59 .ticking.pos-5,
.time-59 .ticking.pos-6,
.time-59 .ticking.pos-7,
.time-59 .ticking.pos-8,
.time-59 .ticking.pos-9,
.time-59 .ticking.pos-10,
.time-59 .ticking.pos-11,
.time-59 .ticking.pos-12,
.time-59 .ticking.pos-13,
.time-59 .ticking.pos-14,
.time-59 .ticking.pos-15,
.time-59 .ticking.pos-16,
.time-59 .ticking.pos-17,
.time-59 .ticking.pos-18,
.time-59 .ticking.pos-19,
.time-59 .ticking.pos-20,
.time-59 .ticking.pos-21,
.time-59 .ticking.pos-22,
.time-59 .ticking.pos-23,
.time-59 .ticking.pos-24,
.time-59 .ticking.pos-25,
.time-59 .ticking.pos-26,
.time-59 .ticking.pos-27,
.time-59 .ticking.pos-28,
.time-59 .ticking.pos-29,
.time-59 .ticking.pos-30,
.time-59 .ticking.pos-31,
.time-59 .ticking.pos-32,
.time-59 .ticking.pos-33,
.time-59 .ticking.pos-34,
.time-59 .ticking.pos-35,
.time-59 .ticking.pos-36,
.time-59 .ticking.pos-37,
.time-59 .ticking.pos-38,
.time-59 .ticking.pos-39,
.time-59 .ticking.pos-40,
.time-59 .ticking.pos-41,
.time-59 .ticking.pos-42,
.time-59 .ticking.pos-43,
.time-59 .ticking.pos-44,
.time-59 .ticking.pos-45,
.time-59 .ticking.pos-46,
.time-59 .ticking.pos-47,
.time-59 .ticking.pos-48,
.time-59 .ticking.pos-49,
.time-59 .ticking.pos-50,
.time-59 .ticking.pos-51,
.time-59 .ticking.pos-52,
.time-59 .ticking.pos-53,
.time-59 .ticking.pos-54,
.time-59 .ticking.pos-55,
.time-59 .ticking.pos-56,
.time-59 .ticking.pos-57,
.time-59 .ticking.pos-58,
.time-59 .ticking.pos-59 {
	color: inherit;
}
